.home-container {
  display: flex;
  gap: 1rem;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.home-column {
  flex: 1;
  min-width: 0; /* Prevents flex items from overflowing */
  width: 50%;
}
